@charset "utf-8";

/* =========================================================
　◆Link Style
========================================================= */
a:link    { color: #0033cc; text-decoration: underline; }
a:visited { color: #0033cc; text-decoration: none; }
a:hover   { color: #0033cc; text-decoration: none; }
a:active  { color: #0033cc; text-decoration: none; }
a:hover img { -moz-opacity:0.80; opacity:0.80;}
img.rollover2 { filter:none !important;-moz-opacity:1.0 !important;opacity:1.0 !important;}

/* =========================================================
　◆Basic
========================================================= */
html { -webkit-text-size-adjust:none; }
body {font:13px/1.231 "Alternate Gothic","helvetica","Arial"; color:#000; width:100% !important; }
img { max-width: 100%; height: auto; width /***/:auto; vertical-align:top; display:block; }
.disnon { display: none; }
body { background:#1E1E1E;}
.wrapper { max-width:1440px; min-width:960px; width:auto; margin: 0 auto; background: #FFFFFF; }
#Mainvis { width:100%;}
/* =========================================================
　◆Fonts
========================================================= */ 
@font-face{ font-family: Alternate Gothic; src:local('Alternate Gothic'); src: url() format("opentype"); font-style: normal;} /* Alternate Gothic */
@font-face{ font-family: Helvetica; src:local('Helvetica'); src: url() format("opentype"); font-style: normal;} /* Helvetica */

@import url("//hello.myfonts.net/count/2b0763");
@font-face { font-family: 'AlternateGothicCom-No2';src: url('../font/2B0763_0_0.eot');src: url('../font/2B0763_0_0.eot?#iefix') format('embedded-opentype'),url('../font/2B0763_0_0.woff') format('woff'),url('../font/2B0763_0_0.ttf') format('truetype');}
/* =========================================================
　◆Head
========================================================= */
#Head { width: 100%; height: 80px; background: #FFFFFF; position: fixed; z-index: 1000; top: 0; max-width:1440px; min-width:960px; }
#Head #Head_inner { width: 960px; margin: 0 auto; padding-top: 28px; position: relative; }
#Head #Head_inner h1 { width: 145px; height:36px; margin-left: 60px; }
#Head #Head_inner h1.logo a { display: block; width: 250px; height:24px; position: relative; }
#Head #Head_inner h1.logo a img.linkimg { width: 100%; position: absolute; left: 0; top: 0; }
#Head #Head_inner h1.logo object,
#Head #Head_inner h1.logo img { width: 250px; height:24px; }

/*add bookmark調整分*/
#Head #Head_inner .pc_head_nav { position: absolute; right: 0px; top: 27px; width: 347px; height: 30px; }
#Head #Head_inner .pc_head_nav li { display: inline; float: left; }
#Head #Head_inner .pc_head_nav li a { display: block; }
#Head #Head_inner .pc_head_nav li.head_btn_03{ margin-right:10px; }


#Head #Head_inner .logo_ci { position: absolute; width: 44px; height: 50px; left: 0px; top: 15px; }
#Head #Head_inner .logo_ci a { display:block; width:44px; height:51px; cursor:pointer; position: relative; }
#Head #Head_inner .logo_ci a:hover img { -moz-opacity:1.0 !important; opacity:1.0 !important; }
#Head #Head_inner #Gnav_switch { display: none; }


/* =========================================================
　◆Gnav
========================================================= */
#Gnav { width: 100%; background: #333333; height: 40px; display: block; position: fixed; z-index: 1000; top: 80px; max-width:1440px; min-width:960px; }
#Gnav #Gnav_inner { width: 960px; margin: 0 auto; }
#Gnav #Gnav_inner .nav_link { display: inline; float: left; }
#Gnav #Gnav_inner .nav_link li { border-left: 1px solid #555555; display: inline; float: left; }
#Gnav #Gnav_inner .nav_link li.last { border-right: 1px solid #555555; }
#Gnav #Gnav_inner .nav_link li a { padding: 0 20px; display: block; color: #FFFFFF; font-size: 18px; line-height: 40px; text-decoration: none; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; }
#Gnav #Gnav_inner .nav_link li.active { background: #E90000; }
#Gnav #Gnav_inner .nav_link li a:hover { background: #222222; }
#Gnav #Gnav_inner .assist_nav { display: inline; float: right; }
#Gnav #Gnav_inner .assist_nav li { display: inline; float: left; margin-right:16px;  }
#Gnav #Gnav_inner .assist_nav li a { display: block; color: #FFFFFF; font-size: 12px; line-height: 40px; text-decoration: none; }
#Gnav #Gnav_inner .assist_nav li.active a { color: #E90000; }
#Gnav #Gnav_inner .assist_nav li a:hover { color: #BBBBBB; }
#Gnav #Gnav_inner .option_nav { display: none; clear: both; }
#Gnav_over { display: none; }
/* =========================================================
　◆Main
========================================================= */
/* Cont */
#Cont { background-color:#fff;}


/* =========================================================
　◆Global_area
========================================================= */
/*gn調整分*/
#Global_area { width: 100%; background: url(../images/globalnet_bg.jpg) center center no-repeat; max-height: 660px; -webkit-background-size: cover; background-size: cover; border-bottom: 5px solid #E60014; }
#Global_area_link { display:block; width:100%; }
#Global_area a { text-decoration:none; }
#Global_area #Global_area_inner { width: 960px; margin: 0 auto; padding: 59px 0 26px; position: relative; }
#Global_area #Global_area_inner .global_tit { margin-bottom: 40px; text-align: center; font-size: 60px; line-height: 1.0; color: #FFFFFF; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; }

/*#Global_area #Global_area_inner .global_map .area_icons {}
#Global_area #Global_area_inner .global_map .area_icons li { width: 82px; position: absolute; height:82px; }
#Global_area #Global_area_inner .global_map .area_icons li.area01 { left: 428px; top: 67px; }
#Global_area #Global_area_inner .global_map .area_icons li.area02 { left: 156px; top: 100px; }
#Global_area #Global_area_inner .global_map .area_icons li.area03 { left: 693px; top: 100px; }
#Global_area #Global_area_inner .global_map .area_icons li.area04 { left: 573px; top: 130px; }
#Global_area #Global_area_inner .global_map .area_icons li.area05 { left: 469px; top: 209px; }
#Global_area #Global_area_inner .global_map .area_icons li.area06 { left: 748px; top: 247px; }
#Global_area #Global_area_inner .global_map .area_icons li.area07 { left: 265px; top: 247px; }
#Global_area #Global_area_inner .global_map .area_icons li a { display: block; }*/

/*gn調整分*/
#Global_area #Global_area_inner .view_all { width:803px; margin:0 auto; }
/*#Global_area #Global_area_inner .view_all a { width: 125px; height: 54px; display: block; }
#Global_area #Global_area_inner .view_all a img { width: 125px; height: 54px; }*/
/* =========================================================
　◆More_info
========================================================= */
#SP_dirPath { display: none; }

/* =========================================================
　◆More_info
========================================================= */
#More_info { width: 100%; background: #FFFFFF; }
#More_info #More_info_inner { width: 960px; margin: 0 auto; padding: 30px 0 40px; position:relative; }
#More_info #More_info_inner .logo { margin: 0 0 35px 2px; width: 200px; margin-bottom: 35px; }
#More_info #More_info_inner .logo img { width: 100%; }
#More_info #More_info_inner .sns_area { position:absolute; top:35px; right:0; padding:0; width:273px;}
#More_info #More_info_inner .sns_area .sns_area_inner { border-left:1px solid #DCDCDC; border-right:1px solid #DCDCDC;  padding: 2px 0;}
#More_info #More_info_inner .sns_area .sns_area_inner ul { text-align: center; }
#More_info #More_info_inner .sns_area .sns_area_inner li { display:inline-block; margin-right:10px; overflow: hidden; height: 20px; }
#More_info #More_info_inner .sns_area .sns_area_inner li.sns_fb { width: 79px; }
#More_info #More_info_inner .sns_area .sns_area_inner li.sns_tw { width: 78px;}
#More_info #More_info_inner .sns_area .sns_area_inner li.sns_tw iframe { width:78px !important;}
#More_info #More_info_inner .sns_area .sns_area_inner li.sns_gplus { width: 60px; margin-right: 0; overflow: hidden; } 
/*#More_info #More_info_inner .sns_area .sns_area_inner li.sns_gplus #___plusone_0 { width:70px !important;}*/
#More_info #More_info_inner .more_info_bnr { margin-bottom: 34px; }
#More_info #More_info_inner .more_info_bnr li { width: 465px; display: inline; float: left; -webkit-box-shadow: 0px 0px 2px rgba(0,0,0,0.4); box-shadow: 0px 0px 2px rgba(0,0,0,0.4); }
/*#More_info #More_info_inner .more_info_bnr li.last { float: right; }*/
#More_info #More_info_inner .more_info_bnr li a { display: block; }
#More_info #More_info_inner .more_info_bnr li a img { width: 465px; height: 208px; }
.mac #More_info #More_info_inner .more_info_bnr li a img { background: url(../images/transparent_bg.png) 0 0 repeat; }
#More_info #More_info_inner .more_info_menu { padding-bottom: 24px; border-bottom: 1px solid #DCDCDC; margin-bottom: 20px; }
#More_info #More_info_inner .more_info_menu>ul>li { width: 180px; margin-right: 20px; display: inline; float: left; }
#More_info #More_info_inner .more_info_menu>ul>li.list02 { margin-right: 18px; }
#More_info #More_info_inner .more_info_menu>ul>li.list03 { margin-right: 15px; }
#More_info #More_info_inner .more_info_menu>ul>li.list05 { width: 167px; margin-right: 0; }
#More_info #More_info_inner .more_info_menu>ul>li>a { text-decoration: none; font-weight: bold; font-size: 14px; line-height: 1.0; color: #0085B2; margin-bottom: 15px; display: inline-block; }
#More_info #More_info_inner .more_info_menu>ul>li .sub_info_menu {}
#More_info #More_info_inner .more_info_menu>ul>li .sub_info_menu li { color: #0085B2;}
#More_info #More_info_inner .more_info_menu>ul>li .sub_info_menu li a { text-decoration: none; font-size: 14px; line-height: 1.6; color: #0085B2; }
#More_info #More_info_inner .more_info_menu>ul>li>a:hover,
#More_info #More_info_inner .more_info_menu>ul>li .sub_info_menu li a:hover { text-decoration: underline; }
#More_info #More_info_inner .more_sub_menu { margin-bottom: 21px; }
#More_info #More_info_inner .more_sub_menu ul { text-align: center; }
#More_info #More_info_inner .more_sub_menu ul li { display: inline-block; border-left: 1px solid #DCDCDC; }
#More_info #More_info_inner .more_sub_menu ul li.last { border-right: 1px solid #DCDCDC; }
#More_info #More_info_inner .more_sub_menu ul li a { font-size: 12px; display: block; padding: 3px 15px; line-height: 1.0; text-decoration: none; color: #0085B2; }
#More_info #More_info_inner .more_sub_menu ul li a:hover { text-decoration: underline; }
#More_info #More_info_inner .more_info_description {}
#More_info #More_info_inner .more_info_description p { color: #999999; font-size: 12px; line-height: 1.4; text-align: center; font-style: italic; }
#More_info #More_info_inner .more_info_bnr li { margin-right: 25px;}
#More_info #More_info_inner .more_info_bnr .more-right { margin-right: 0;}


/* =========================================================
　◆Pickup_bnr
========================================================= */
#Pickup_bnr { padding: 40px 0; background: #EEEEEE; }
#Pickup_bnr #Pickup_bnr_inner { width: 960px; margin: 0 auto; }
#Pickup_bnr #Pickup_bnr_inner li { width: 465px; display: inline; float: left; -webkit-box-shadow: 0px 0px 2px rgba(0,0,0,0.4); box-shadow: 0px 0px 2px rgba(0,0,0,0.4); }
#Pickup_bnr #Pickup_bnr_inner li.last { float: right; }
#Pickup_bnr #Pickup_bnr_inner li a { display: block; }
#Pickup_bnr #Pickup_bnr_inner li a img { width: 465px; height: 247px; }
.mac #Pickup_bnr #Pickup_bnr_inner li a img { background: url(../images/transparent_bg.png) 0 0 repeat; }

/* =========================================================
　◆Foot
========================================================= */
#Foot { width: 100%; background: #333333; } 
#Foot #Foot_inner { width: 960px; margin: 0 auto; padding: 14px 0 14px; }
#Foot #Foot_inner .foot_description { margin-bottom: 15px; padding-bottom: 7px; border-bottom: 1px solid #585858; }
#Foot #Foot_inner .foot_description p { color: #666666; font-size: 12px; line-height: 1.4; }
#Foot #Foot_inner .foot_link { display: inline; float: right; }
#Foot #Foot_inner .foot_link li { display: inline; float: left; line-height: 0.9; }
#Foot #Foot_inner .foot_link li.last { margin-left: 12px; }
#Foot #Foot_inner .foot_link li a { font-size: 12px; line-height: 1.0; color: #999999; text-decoration: none; }
#Foot #Foot_inner .foot_link li a:hover { text-decoration: underline; }
#Foot #Foot_inner #Copy { font-size: 12px; line-height: 1.0; color: #999999; display: inline; float: left; }